---
interface Props {
  title: string;
  id: string;
}

const { title, id } = Astro.props;
---

<section {id} class="section">
  <h2>{title}</h2>
  <slot />
</section>

<style>
  .section {
    margin: 4rem 0;
  }

  h2 {
    font-size: 2rem;
    color: rgb(var(--accent-light));
    margin-bottom: 2rem;
    text-align: left;
  }
</style>